html {
    overflow-y:scroll;
}

.mainrow{
	padding-top: 60px;
}

.sidebarList{
	list-style-type: none;
	
}
/*cursor: pointer wurde doppelt vergeben wegen browsercompatibilität*/
.sidebarList div{
	cursor: pointer;
}

.sidebarElement{
	cursor: pointer;
}

.innerListItems{
	padding-left: 16px
}

.visible{
	visibility: visible;
}

.hidden{
	visibility: hidden;
}

.subSidebarList{
	list-style-type: none;
}

.rightSidebarList{
	list-style-type: none;
}

.rightSidebarList li{
cursor: pointer;
}

div.active{
	background-color: #e7e7e7;
}

#messages{
float: right;

}