

/*product content*/
#productImgSingle{
	width:60%;
	height:auto;
	float: right;
}

.productDivider, .controlsDivider{
	border-color: #000;
}

.multiProductImage{
	
}

/*right productlist*/

.rightListHeight{
	overflow:auto;
	height: 600px;
}

input[type="number"] {
   width:45px;
	 text-align: right;
}
#sendOrderForm input{
	float:right;
	
}
.orderNameSize{
	font-size:xx-small;
}

.orderListItem{
	font-weight: 400;
}

.orderListHeading{
	font-weight: 700;
	text-align: center;
}

.clearfix{
	overflow: auto; 
}

#orderSentSign{
	font-size: 2em;
	margin: 0px;
	padding: 0px;
}

.orderListDivider{
	margin: 3px;
}

/*left productlist*/

.listsHeight{
	overflow:auto;
	height: 600px;
}

div.sidebarList{
	margin:0px;
	padding:0px;
}

.icon-list-collapse{
	margin-left: 5px;
}

div.subSidebarElement{
	position: relative;
}

.btn{
position: relative;
	margin: 3px;
}

.buttonAddProduct{
	margin-top:2px;
	visibility:hidden;
	position: absolute;
	right:0px;
}

.iconAddProduct{
	float: right;
	top:0px;
}

.searchCategoryIcon{
	visibility:hidden;
}

/*product View in center*/
.multiProductContainer {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.multiProductImage{
	height: 100px;
	align-self: center;
	
}

.productTextContainer{
	flex: 1 0 200px;
	padding-left: 10px;
}

.multiProductAddButtonContainer{
	flex: 0 0 50px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
}

h4{
	margin-top: 0px;
}

/*datepicker colors*/
.ui-state-orderDays a,
.ui-state-orderDays a:link,
.ui-state-orderDays a:visited {
	color: #000000;
	background:#939393;
	border:1px solid #d3d3d3;
}
.ui-state-noOrderDays a,
.ui-state-noOrderDays a:link,
.ui-state-noOrderDays a:visited {
	color: #000000;
	border:1px solid #d3d3d3;
}
.ui-datepicker-current-day .ui-state-active{
	color: #000000;
	background:#006dcc !important;
	border:1px solid #000000;
}

/*alertModal linebreaks*/
#alertMessageText{
	white-space: pre-line;
}

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 0px){
		.listsHeight{
			height: 300px;
		}
		.rightListHeight{
			height: 300px;
		}
	}
	
	@media only screen and (min-width : 320px){
		.listsHeight{
			height: 300px;
		}
		.rightListHeight{
			height: 300px;
		}
	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
		.listsHeight{
			height: 300px;
		}
		.rightListHeight{
			height: 300px;
		}
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
		.listsHeight{
			height: 400px;
		}
		.rightListHeight{
			height: 310px;
		}
		.controlsDivider{
			display: none;
		}
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
		.listsHeight{
			height: 78vh;
		}
		.rightListHeight{
			height: 60vh;
		}
		.productDivider{
			display: none;
		}
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
		.listsHeight{
			height: 78vh;
		}
		.rightListHeight{
			height: 65vh ;
		}
	}




