
/*product content*/
#productImgSingle{
	width:60%;
	height:auto;
	float: right;
}
/*right productlist*/
.productActions{
	/*position:fixed;
	background-color: #333;
	margin:0px,0px,0px,0px;
	padding:20px, 20px, 20px, 20px;*/
}
.productActionsWrapper{
	min-height:50px;
}

#sendOrderForm{
	overflow:auto;
	height: 600px;
}

input[type="number"] {
   width:45px;
	 text-align: right;
}
#sendOrderForm input{
	float:right;
	
}
.orderNameSize{
	font-size:xx-small;
}

.clearfix{
	overflow: auto; 
}

#orderSentSign{
	font-size: 2em;
}

/*left productlist*/
.buttonAddProduct{
	margin-top:2px;
	visibility:hidden;
	float: right;
}
.iconAddProduct{
	float: right;
}


	/* Custom, iPhone Retina */
	@media only screen and (min-width : 0px){
		#sendOrderForm{
			height: 300px;
		}
	}
	
	@media only screen and (min-width : 320px){
		#sendOrderForm{
			height: 300px;
		}
	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
		#sendOrderForm{
			height: 300px;
		}
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
		#sendOrderForm{
			height: 400px;
		}
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
		#sendOrderForm{
			height: 500px;
		}
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
		#sendOrderForm{
			height: 600px;
		}
	}




